# Sorayunara Code Ownership
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global default owners
* @Sorayunara/core-maintainers @MuhammadLutfiMuzakiiVY

# Compiler, Type System & IR Engine
/compiler/ @Sorayunara/compiler-team
/bootstrap/ @Sorayunara/compiler-team
/specs/ @Sorayunara/compiler-team
/src/ @Sorayunara/compiler-team

# Standard Library & Runtime
/std/ @Sorayunara/stdlib-team
/runtime/ @Sorayunara/stdlib-team

# Tooling, Editors & LSP Ecosystem
/editors/ @Sorayunara/tooling-team
/tools/ @Sorayunara/tooling-team
/playground/ @Sorayunara/tooling-team

# Documentation, Tutorials & Specs
/docs/ @Sorayunara/docs-team
*.md @Sorayunara/docs-team

# CI/CD & Security Infrastructure
/.github/ @Sorayunara/core-maintainers
